*{
    margin:0;
    padding: 0;
}
a{
    color: #fff;
}
a :hover{
    color: #00a8cc;
}

/* --------------------------------- HEADER --------------------------------- */

.header{
    background: rgba(0,0,100,0.4);
    height: 100vh;
}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.alert{
    text-align: center;
}
.logo-img {
    width: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.onservice{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
}
.col-sm-12{
    text-align: center;
    margin-top: 1%;
}




/* ------------------------------- MEDIA QUERY ------------------------------ */

@media(min-aspect-ratio:16/9){
    .video-background{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .video-background{
        width: auto;
        height: 100%;
    }
}